@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

.app {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-family: 'TwitterChirp';
  display: flex;
  justify-content: center;
  .headerColumn {
    user-select: none;
    width: 200px;
    position: relative;

  }

  .main {
    display: flex;
    justify-content: flex-start;

    .primaryColumn {
      width: 600px;
      box-sizing: border-box;
      padding-top: 15px;
      border-right: 1px solid #eee;

      .primary-top {
        border-bottom: 1px solid #eee;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(12px);
        height: 60px;
        padding: 8px;
        box-sizing: border-box;
        width: 599px;
        position: fixed;
        line-height: 60px;
        top: 0px;
        z-index: 1;

        .primary-header {
          font-weight: 600;
          font-size: 18px;

          display: flex;
          justify-content: space-between;
          line-height: 30px;

        }

        .header-logos {
          display: flex;
          align-content: center;
          justify-content: flex-start;
          padding: 15px 8px;

          img {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #eee;
          }

        }

        .header-input {
          textarea {
            height: 100px;
            width: 100%;
            border: none;
            padding: 10px;

          }
        }
      }

    }

    .sidebarColumn {
      width: 350px;
      height: 100vh;
      position: relative;
      margin-left: 10px;
      box-sizing: border-box;
    }

  }
}